In [1]:
import pandas as pd
import numpy as np

In [2]:
file_path = '../Data/BestPlayers.csv'

In [3]:
df = pd.read_csv(file_path, sep=';', encoding='utf-8')
print(df.shape)
df.head()

(344953, 8)

,Date,WhiteName,WhiteElo,BlackName,BlackElo,Result,ECO,Decade
0,2000.03.??,"Kasparov, Garry",2851.0,"Stoffers, Jeffrey",NaN,1-0,D35,200
1,2000.03.??,"Kasparov, Garry",2851.0,"Tomasso, Santiago",NaN,1-0,B01,200
2,1999.11.20,"Kasparov, Garry",2851.0,"Teixeira, Rafael Goltsman",NaN,1-0,C54,199
3,1999.11.20,"Kasparov, Garry",2851.0,"Quintino, Luis Felipe Pires",NaN,1-0,B01,199
4,2000.02.09,"Kasparov, Garry",2851.0,"Piket, Jeroen",2633.0,1/2-1/2,C99,200

In [4]:
# Make new columns
df['Year'] = df['Date'].str[:4]
df['WhiteWins'] = df['Result'] == '1-0'
df['BlackWins'] = df['Result'] == '0-1'
df['Draws'] = df['Result'] == '1/2-1/2'

print(df.shape)
df.head()

(344953, 12)

,Date,WhiteName,WhiteElo,BlackName,BlackElo,Result,ECO,Decade,Year,WhiteWins,BlackWins,Draws
0,2000.03.??,"Kasparov, Garry",2851.0,"Stoffers, Jeffrey",NaN,1-0,D35,200,2000,True,False,False
1,2000.03.??,"Kasparov, Garry",2851.0,"Tomasso, Santiago",NaN,1-0,B01,200,2000,True,False,False
2,1999.11.20,"Kasparov, Garry",2851.0,"Teixeira, Rafael Goltsman",NaN,1-0,C54,199,1999,True,False,False
3,1999.11.20,"Kasparov, Garry",2851.0,"Quintino, Luis Felipe Pires",NaN,1-0,B01,199,1999,True,False,False
4,2000.02.09,"Kasparov, Garry",2851.0,"Piket, Jeroen",2633.0,1/2-1/2,C99,200,2000,False,False,True

In [5]:
# Desired results
# ECO, Year, Total Games Total, White Wins Tally, Black Wins Tally, Draws Tally(
groupby_cols = ['Year', 'ECO']
g = df.groupby(groupby_cols)

size_se = g.size()
size_se.name = 'Games'

sum_cols = ['WhiteWins', 'BlackWins', 'Draws']
sum_df = g[sum_cols].sum().astype(int)

result_df = pd.DataFrame(size_se).join(sum_df)
result_df.reset_index(inplace=True)

In [6]:
# Check that the total of each row matches to verify.  Should be true.
print((result_df[sum_cols].sum(axis=1) == result_df['Games']).all())

True

In [7]:
# Write to a csv
eco_path = '../Data/ECO.csv'
result_df.to_csv(eco_path, sep=';', index=False, encoding='utf-8')