In [237]:
import pandas as pd
import numpy as np

In [238]:
file_path = '../Data/BestPlayers.csv'

In [239]:
df = pd.read_csv(file_path, sep=';', encoding='utf-8')
print(df.shape)
df.head()

(344953, 8)

,Date,WhiteName,WhiteElo,BlackName,BlackElo,Result,ECO,Decade
0,2000.03.??,"Kasparov, Garry",2851.0,"Stoffers, Jeffrey",NaN,1-0,D35,200
1,2000.03.??,"Kasparov, Garry",2851.0,"Tomasso, Santiago",NaN,1-0,B01,200
2,1999.11.20,"Kasparov, Garry",2851.0,"Teixeira, Rafael Goltsman",NaN,1-0,C54,199
3,1999.11.20,"Kasparov, Garry",2851.0,"Quintino, Luis Felipe Pires",NaN,1-0,B01,199
4,2000.02.09,"Kasparov, Garry",2851.0,"Piket, Jeroen",2633.0,1/2-1/2,C99,200

In [240]:
def player_top_game(frame):
    i = frame['Elo'].idxmax()
    res = frame.loc[i, ['Date','PlayerName', 'Elo']]
    return res

In [241]:
def top_players(frame):
    player_games = frame.groupby('PlayerName')
    top_player_scores = player_games.apply(player_top_game) 
    top_sorted = top_player_scores.sort_values('Elo', ascending=False)
    ten_top =  top_sorted[:10]   
    return ten_top

In [242]:
df['Date'] = df['Date'].map(lambda x: int(x[:4]))

In [ ]:
player_elo_df_na = pd.DataFrame(np.concatenate([df.loc[:, ['Date', 'WhiteName', 'WhiteElo']], df.loc[:, ['Date', 'BlackName', 'BlackElo']]]))
player_elo_df_na.columns = ['Date', 'PlayerName', 'Elo']
player_elo_df = player_elo_df_na.dropna()
player_elo_df['Elo'] = player_elo_df['Elo'].astype(int)
player_elo_df = player_elo_df.sort_values('Date')

players_by_year = player_elo_df.groupby('Date')
top_players_by_year = players_by_year.apply(top_players)
top_players_by_year.drop_duplicates()

In [244]:
best_players_path = '../Data/TopPlayersPerYear.csv'
top_players_by_year.to_csv(best_players_path, sep=';', index=False, encoding='utf-8', chunksize=1000)